<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
        <link rel="stylesheet" type="text/css" href="/css/teodorheggelund.com.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/"></a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/projects.html">Projects</a>
                <a href="/about.html">About</a>
                <!-- <a href="/archive.html">Arkiv</a> -->
            </div>
        </div>

        <div id="content">
            <article>
                <h1>$title$</h1>

                $body$

                <hr />

                Got a comment? Just

                <button id="load-comment-system">load the annotation system</button>, then

                use the arrow in the upper-right corner to make a
                general note. Or mark text to make an annotation to just that text.

                More information on the commentary system is available at <a href="/posts/commentary-with-hypothesis.html">Commentary with Hypothesis</a>.
            </article>
        </div>

        <div id="footer">
            <p>
                This site is made with
                <a href="http://jaspervdj.be/hakyll">Hakyll</a>.
                Content is licenced with <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative
                    Commons Attribution-NonCommercial 4.0</a> where nothing else is specified.
                That means you can redistribute content for non-commercial usage, with citation.
            </p>
        </div>

        <script type="application/json" class="js-hypothesis-config">
            {"showHighlights": false}
        </script>
        <div id="hypothesis-placeholder"></div>
        <script type="text/javascript" async>
        placeholder = document.querySelector("#hypothesis-placeholder");
        activation = document.querySelector("#load-comment-system");

        s = document.createElement("script");
        s.setAttribute("async", "async");
        s.setAttribute("src", "https://hypothes.is/embed.js");

        activation.onclick = function () {
            placeholder.appendChild(s);
        };

        </script>
    </body>
</html>
