<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/"></a>
            </div>
            <div id="navigation">
                <a href="/">Overblikk</a>
                <a href="/projects.html">Prosjekter</a>
                <a href="/about.html">Om</a>
                <a href="/archive.html">Arkiv</a>
            </div>
        </div>

        <div id="content">
            <article>
                <h1>$title$</h1>

                $body$

                <hr />

                Kommentar? Marker tekst for å annotere. Bruk pilen oppe til
                høyre for komme med generelle kommentarer. For mer informasjon
                om kommentar og diskusjon på denne siden, se <a href="/posts/commentary-with-hypothesis.html">Commentary with Hypothesis</a>.
            </article>
        </div>

        <div id="footer">
            <p>
                Denne siden er laget med
                <a href="http://jaspervdj.be/hakyll">Hakyll</a>. Innhold er
                lisensiert under <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative
                    Commons Attribution-NonCommercial 4.0</a> der ikke annet er spesifisert.
                Det betyr at du kan redistribuere innholdet på denne siden til ikkekommersiell med sitat.
            </p>
        </div>

        <!-- Load Hypothesis -->
        <script type="application/json" class="js-hypothesis-config">
         {"showHighlights": false}
        </script>
        <script src="https://hypothes.is/embed.js" async></script>

    </body>
</html>
