<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/"></a>
            </div>
            <div id="navigation">
                <a href="/">Overblikk</a>
                <a href="/projects.html">Prosjekter</a>
                <a href="/about.html">Om</a>
                <a href="/archive.html">Arkiv</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>

        <div id="footer">
            <p>
                Har du en kommentar? Et spørsmål? Ønsker du å diskutere? Jeg
                anbefaler <a href="hypothes.is">Hypothesis</a>. Kanskje jeg
                svarer!
                <br />
                Funnet en skrivleif? En link som ikke fungerer? Si hva du mener er feil
                i en <a href="https://github.com/teodorlu/teodorheggelund.com/issues">sak</a> eller
                fiks selv i en <a href="https://github.com/teodorlu/teodorheggelund.com/pulls">pull request</a>.
            </p>
            <p>
                Denne siden er laget med
                <a href="http://jaspervdj.be/hakyll">Hakyll</a>. Innhold er
                lisensiert under <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative
                    Commons Attribution-NonCommercial 4.0</a> der ikke annet er spesifisert.
            </p>
        </div>
        <script type="text/javascript">
         if (!navigator.doNotTrack) {
             var clicky_site_ids = clicky_site_ids || [];
             clicky_site_ids.push(101081143);
             (function() {
                 var s = document.createElement('script');
                 s.type = 'text/javascript';
                 s.async = true;
                 s.src = '//static.getclicky.com/js';
                 ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
             })();
         }
        </script>
    </body>
</html>
